/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
// #include <dt-bindings/zmk/outputs.h>

// Layer Definitions
#define CANARIA 0
#define NUMNAV 1
#define SYM 2
#define FUN 3
#define TLD 4

// Behavior configuration
&mt {
    tapping-term-ms = <200>;
    quick_tap_ms = <0>;
    flavor = "balanced";
};
&lt {
    tapping-term-ms = <200>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
};
&sk {
    release-after-ms = <500>;
    quick-release;
};
&sl {
    release-after-ms = <500>;
};

#define MACRO(name, keys)                 \
name: name##_m {                      \
    label          = #name;               \
    compatible     = "zmk,behavior-macro";\
    tap-ms         = <1>;                 \
    wait-ms        = <1>;                 \
    #binding-cells = <0>;                 \
    bindings       = <keys>;              \
};

/ {
    macros {
        MACRO(acc_a, &kp SQT &kp &a) //funcionará? y con tildes mayusculas?
        MACRO(acc_e, &kp SQT &kp &e) 
        MACRO(acc_i, &kp SQT &kp &i)
        MACRO(acc_o, &kp SQT &kp &o)
        MACRO(acc_u, &kp SQT &kp &u)
		MACRO(acc_uu, &kp LS(SQT) &kp u)
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                canaria {			
// ----------------------------------------------------------------------------------
// | TAB  |  W  |  L  |  Y  |  P  |  B  |     |  F  |  J   |  O   |  U  |  :  | ESC |
// | CTRL |  C  |  R  |  S  |  T  |  G  |     |  M  |  N   |  E   |  I  |  A  | DEL |
// | ALT  |  Q  |  Z  |  V  |  D  |  K  |     |  X  |  H   |  /   |  ,  |  .  | GUI |
//             | NUMNAV | TLD | SFT/SPC |     | SFT/ENT | BKSP | NAV |

                        bindings = <
   &kp TAB   &kp W &kp L &kp Y &kp P &kp B   &kp F &kp J  &kp O    &kp U     &kp SQT   &kp ESC
   &kp LCTRL &kp C &kp R &kp S &kp T &kp G   &kp M &kp N  &kp E    &kp I     &kp A     &kp DEL
   &kp LALT  &kp Q &kp Z &kp V &kp D &kp K   &kp X &kp H  &kp FSLH &kp COMMA &kp DOT   &kp LGUI
        &mo NUMNAV &sl TLD &mt LSHFT SPACE   &mt RSHFT ENTER &kp BSPC &mo SYM
                        >;
                };
				
				number_navigation {
// ----------------------------------------------------------------------------------------
// | TAB  | HOME | LWORD | RWORD | END   | PGUP |     |  /  |  7  |  8  |  9  |  -  |  ,  |
// | CTRL | LEFT | UP    | DOWN  | RIGHT | PGDN |     |  *  |  4  |  5  |  6  |  +  | DEL |
// | ALT  | UNDO | CUT   | COPY  | PASTE | REDO |     |  0  |  1  |  2  |  3  |  =  |  .  |

                        bindings = <
	&trans	&kp HOME  &kp LC(LEFT) &kp LC(RIGHT) &kp END   &kp PG_UP	&kp SLASH	&kp N7	&kp N6	&kp N9	&kp MINUS	&kp COMMA
	&trans	&kp LEFT  &kp DOWN     &kp UP 		 &kp RIGHT &kp PG_DN 	&kp STAR	&kp N4	&kp N5	&kp N6	&kp PLUS	&trans	
	&trans	&kp LC(Z) &kp LC(X)	   &kp LC(C)	 &kp LC(V) &kp LC(Y)	&kp N0		&kp N1	&kp N2	&kp N3	&kp EQUAL	&kp DOT
                                              &none &trans   &trans    &trans   &trans    &mo FUN
                        >;
                };
				
                symbols {

// ------------------------------------------------------------------------------
// | TAB  |     |  "  |  #  |  (  |  €  |   |  /  |  7  |  8  |  9  |  -  |  ,  |
// | CTRL |  |  |  !  |  ?  |  [  |  &  |   |  *  |  4  |  5  |  6  |  +  | DEL |
// | ALT  |     |     |  <  |  {  |  $  |   |  0  |  1  |  2  |  3  |  =  |  .  |

                        bindings = <
   &trans	&none	 &none		&kp HASH	  &kp LPAR	&none		&none	&none	&none	&none	&none	&trans	
   &trans	&kp PIPE &kp EXCL	&kp LS(MINUS) &kp LBKT	&kp AMPS	&none	&none	&none	&none	&none	&trans	
   &trans	&none	 &none		&kp LT		  &kp LBRC	&none		&none	&none	&none	&none	&none	&trans	   
							&mo FUN 	&trans	&trans		&trans  &trans 	&none
                        >;
                };

				adjust_layer {			
// -----------------------------------------------------------------------------------------
// | BTCLR| BT0  | BT1 | BT2  | BT3 | VOL_UP |   | NEXT | F7 | F8 | F9 | F12 | |
// |      | CAPS |     | SNIP |     | VOL_DN |   | PREV | F4 | F5 | F6 | F11 | |
// |      |      |     |      |     | MUTE   |   | PLAY | F1 | F2 | F3 | F10 | |
//                      |     |     |        |   |      |    |    |
                        bindings = <
   &bt BT_CLR &bt BT_SEL 0	&bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3	&kp C_VOL_UP		&kp C_NEXT	&kp F7	&kp F8	&kp F9	&kp F12	&trans	
   &trans 	  &kp CAPS		&none		 &kp LG(LS(S)) &none		&kp C_VOL_DN		&kp C_PREV	&kp F4	&kp F5	&kp F6	&kp F11	&trans	
   &trans 	  &none			&none		 &none		  &none		 	&kp C_MUTE			&kp C_PP	&kp F1	&kp F2	&kp F3	&kp F10	&trans	   
										 &trans 	  &trans 		&trans				&trans  	&trans 	&trans
                        >;
                };
				
				tilde_layer {			
// -----------------------------------------------------------------------------------------
// |   |   |  |  |  |  |   |  |   | Ó | Ú | Ü |   |
// |   | Ç |  |  |  |  |   |  | Ñ | É | Í | Á |   |
// |   |   |  |  |  |  |   |  |   |   |   |   |   |
//            |  |  |  |   |  |   |   |
                        bindings = <
   &none &none    &none &none &none &none   &none &none    &acc_o &acc_u &acc_uu &none
   &none &kp BSLH &none &none &none &none   &none &kp SEMI &acc_e &acc_i &acc_a  &none
   &none &none    &none &none &none &none   &none &none    &none  &none  &none   &none
						&none &none &none   &none &kp LC(BSPC)    &none
                        >;
                };
 
        };
};